<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WrkForce Login</title>
  </head>
  <body>
    <form id="login" action="oauth/token" method="post">
      <input type="hidden" id="grant_type" name="grant_type" value="password">
      <fieldset>
        <legend>WrkForce Login</legend>
        <select id="client" required="required">
          <option value="client1">client1</option>
          <option value="client2">client2</option>
          <option value="client3">client3</option>
        </select>
        <input type="hidden" id="secret" value="client1">
        <br>
        <input type="text" id="username" name="username" placeholder="User" required="required">
        <br>
        <input type="password" id="password" name="password" placeholder="Password" required="required">
        <br>
        <input type="text" id="redirect_uri" name="redirect_uri" placeholder="Redirect" required="required">
        <br>
        <button type="submit">Login</button>
      </fieldset>
    </form>
    <div id="links"></div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha256-2Pjr1OlpZMY6qesJM68t2v39t+lMLvxwpa8QlRjJroA=" crossorigin="anonymous"></script>
    <script>
      $('#client').change(function() { $('#secret').val(this.value); });
      $('#login').ajaxForm({
        beforeSend: (jqXHR) => {
          let text = $('#client').val() + ':'  + $('#secret').val(), b64 = btoa(text);
          jqXHR.setRequestHeader('Authorization', 'Basic ' + b64);
        },
        error: (response) => {
          alert(response.responseJSON.error_description);
          console.log(response.responseJSON);
        },
        success: (data) => {
          console.log(data);
          $('#links').html('<a href="secret?access_token=' + data.access_token + '">secret</a><br><a href="oauth/authorize?access_token=' + data.access_token + '">authorize</a>');
        }
      });
    </script>
  </body>
</html>